pinecone
torch==2.9.1 --index-url https://download.pytorch.org/whl/cpu
sentence_transformers
pydantic
pydantic_settings
trafilatura
playwright
groq
neo4j
redis
aiokafka
aiohttp
fastapi
uvicorn[standard]
python-multipart
python-dotenv
requests